.vscode/**
.vscode-test/**
src/**
out/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
test-*
uv.lock
pyproject.toml
webpack.config.js
node_modules/**
.git/**
*.vsix 